/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
span.visaText {
  font-size: 18px;
  font-weight: 600;
}
.badge.badge-primary {
  background-color: #765aa6 !important;
  color: #ffffff !important;
  font-weight: 100;
  border-radius: 50px;
  padding: 6px 10px;
}
.btn-outline-primary:hover { 
  background-color: #31a3d9;
  border-color: #31a3d9;
}
.dropdown-menu.shadow.bg_hover.leftAlignDrop.leftBilling {
  left: 0 !important;
}
.removeBg.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 9px;
  top: 20px;
}
.billing_tab li a{
  padding: 7px 10px !important;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pointer{
  cursor: pointer;
}
img.visa {
  width: 60px;
  height: 35px;
  object-fit: contain;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}