// .mainfaq{
//     background-image: url("../../../public/assets/img/login_bg.jpg") !important;
// }
.faq-section {
    background: #fff; 
    padding: 10vh 0 0;
}
.headerSearch .Searchbar {
  background: #F9F9F9;
  border: 1px solid #ccc;
}
.headerSearch { 
  display: flex;
  align-items: center;
}
.faqdown {
    position: absolute;
    right: 2rem;
    top: 3rem;
    color: #52bcd4;
    font-size: 25px;
}


// i.fa.fa-thumbs-up.thumbs {
//   font-size: 19px;
//   color: #6fc3e6;
// }
// .fa.fa-thumbs-down.thumbs {
//   font-size: 21px;
//   margin-top: 2px;
//   color: #80808099;
// }

.faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #CEE1F8;
}

// ul.category_blog {
//   border: 1px solid #3aa0dc5c;
//   border-radius: 10px;
//   background: #fff;
// }

/* CSS */
.like-button {
 color: #80808099; /* Default color */
 font-size: 18px;
}

.like-button:active {
  color: #6fc3e6; /* Default color */
  font-size: 18px;
 }

.like-button:hover {
color: #6fc3e6; /* Color when button is liked */
font-size: 18px;
}

.card {
    position: relative;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #00bcd4;
    bottom: -14px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: #3aa0dc;
    padding-left: 10px;
    color: #fff !important;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px; 
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #00bcd4;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}
.card:hover .faqdown{
  color: #fff;
}
i.fa.fa-caret-down.collapsed {
  transform: rotate(-90deg);
}
i.fa.fa-caret-down {
  transform: rotate(0deg);
}
.faq .card .card-body {
  padding: 15px;
  padding-left: 35px; 
  font-weight: 400;
  font-size: 12px;
  color: #000;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}